<%- include("./partials/header.ejs") %>


<div id="login1"  class="container">
    <img src="https://img.icons8.com/bubbles/100/000000/add-user-male.png"/>
    <h1 class="text">Sign up</h1>

    <form action="/register" method="POST" >
        <div class="field">
            <img src="https://img.icons8.com/material-rounded/18/000000/name.png"/>
            <input class="p-1" type="text" name="firstName" placeholder="first name*" required>
        </div>
        <div class="field">
            <img src="https://img.icons8.com/material-rounded/18/000000/name.png"/>
            <input class="p-1" type="text" name="lastName" placeholder="last name*" required>
        </div>
        <div class="field">
            <span class="fa fa-user mr-1"></span>
            <input class="p-1" type="text" name="username" placeholder="username*" required>
        </div>
        <div class="field">
            <span class="fa fa-lock mr-1"></span>
            <input class="p-1" type="password" name="password" placeholder="password*" required>
        </div>
        <div class="field">
            <span class="fa fa-user-circle"></span>
            <input class="p-1" type="text" name="avatar" placeholder="avatar url*" required>
        </div>
        <div class="field">
            <span><i class="fa fa-envelope"></i></span>
            <input class="p-1" type="email" name="email" placeholder="email*" required>
        </div>
        <!--<p class="text-danger"> *Note: Only for Admin</p>-->
        <div class="field">
            <img src="https://img.icons8.com/color/24/000000/keepass--v1.png"/>
            <input class="m-0" type="text" name="adminCode" placeholder="admin Code- Not for user">
        </div>
        <div class="sign">
            <input class="btn btn-primary" type="submit" value="sign up">
        </div>
    </form>
</div>
<%- include("./partials/footer.ejs") %>